[submodule "claudia-playground"]
	path = claudia-playground
	url = git@github.com:FlorianMold/claudia-playground.git
[submodule "kafka-playground"]
	path = kafka-playground
	url = git@github.com:FlorianMold/kafka-playground.git
[submodule "fh-reactive-architecture"]
	path = fh-reactive-architecture
	url = git@github.com:FlorianMold/fh-reactive-architecture.git
[submodule "fh-sfr-frontend"]
	path = fh-sfr-frontend
	url = git@github.com:FlorianMold/fh-sfr-frontend.git
